node_modules/
circuit.sym 
circuit.r1cs
circuit/proof.json
# circuit/input.json
circuit/public.json
circuit/*.ptau

# Remove these once the circuits have been finalized
# The following files will be required for verification on other clients like frontend
circuit/verification_key.json
circuit/circuit_final.zkey
circuit/circuit_js

build/
circuit/circuit_cpp/
example-emails/

artifacts/
cache/

.env
yarn-error.log

contracts/Paypal*
contracts/paypal*

*.eml

.DS_Store